<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
    </runtime>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BufferedBinding" 
                         transferMode="Buffered" messageEncoding="Text" 
                         maxBufferPoolSize="800000000" maxReceivedMessageSize="800000000" 
                         closeTimeout="00:01:00" openTimeout="00:01:00" 
                         receiveTimeout="02:00:00" sendTimeout="01:00:00">
                    <readerQuotas maxDepth="32" 
                                  maxStringContentLength="800000000" maxArrayLength="800000000" 
                                  maxBytesPerRead="800000000" maxNameTableCharCount="800000000"/>
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="UserName"/>
                    </security>
                </binding>

                <binding name="StreamingBinding" 
                         transferMode="StreamedRequest" messageEncoding="Mtom"
                         maxBufferPoolSize="800000000" maxReceivedMessageSize="800000000" 
                         closeTimeout="00:01:00" openTimeout="00:01:00" 
                         receiveTimeout="02:00:00" sendTimeout="01:00:00">
                    <readerQuotas maxDepth="32" 
                                  maxStringContentLength="800000000" maxArrayLength="800000000" 
                                  maxBytesPerRead="800000000" maxNameTableCharCount="800000000" />
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding"
                      bindingConfiguration="BufferedBinding" 
                      contract="Shugo.FileGuardian.Services.Common.Payroll.IPayrollData" 
                      name="Shugo.FileGuardian.Services.Common.Payroll.IPayrollData"/>
            
            <endpoint binding="basicHttpBinding" 
                      bindingConfiguration="StreamingBinding" 
                      contract="Shugo.FileGuardian.Services.Common.Payroll.IPayrollFile"
                      name="Shugo.FileGuardian.Services.Common.Payroll.IPayrollFile"/>
        </client>
    </system.serviceModel>

</configuration>